<div class="row">
  <div class="span2">
    <h3>
      <a href="">Add Juice</a>
    </h3>
  </div>
  <div class="span3">
    <h3>
      <a href="">Monthly Report</a>
    </h3>
  </div>
  <div class="span3">
    <h3>
      <a href="">Year Report</a>
    </h3>
  </div>
</div>
<hr>